.container
{
    &--1200
    {
        max-width: 120rem; // 1200px
        margin: 0 auto;
        padding-inline: 2rem;
    }

    &--1400
    {
        max-width: 140rem; // 1400px
        margin: 0 auto;
        padding-inline: 2rem;
    }
}