// Notes
// Use color to draw attention to important elements
// Never use black color for design




// COLORS
$color-primary: #3A9256;
$color-primary-light: #4FC776;
$color-secondary: #712a16;
$color-primary-light: #B74222;
$color-black: #1d1D1B;
$color-white: #F6F6F6;
$color-grey: #898989;

//FONT

$default-font-size: 1.6rem;

// FONT FAMILY
$font-display: "Gatty", serif;
$font-accent: "Pumpkin Cheesecake", cursive;
$font-body: "Open Sans", sans-serif;