@font-face
{
    font-family: "Gatty";
    src: url("../../assets/fonts/Gatty-ExtraBold.otf") format("otf");
    font-style: normal;
    font-display: swap;
}

@font-face
{
    font-family: "Pumpkin Cheesecake";
    src: url("../../assets/fonts/PumpkinCheesecake.otf") format("otf");
    font-style: normal;
    font-display: swap;
}