*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    border: 0;
}

ul,
ol
{
    list-style: none;
    padding-left: 0;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

blockquote,
q
{
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}

button,
input,
select,
textarea
{
    font: inherit;
    border: none;
    background: none;
    outline: none;
}

img,
picture,
video,
canvas,
svg
{
    display: block;
    max-width: 100%;
    height: auto;
}